<div class="bg-light">
  <div class="bg-info">
    <div class="container-fluid">
      <p class="py-3 h4 text-white text-center">COMPONENTE DE SILO</p>
    </div>
  </div>
  <div class="container">
    <div class="row mt-5 justify-content-center">
      <div class="col-md-6 col-lg-4 col-sm-12">
        <select
          class="form-select form-select-lg mb-3 shadow rounded"
          aria-label=".form-select-lg example"
          id="selectSilo"
          (change)="changeSilo($event.target)"
        >
          <option selected disabled>Selecione o tipo de silo</option>
          <option value="1">Fundo plano com chapéu</option>
          <option value="2">Fundo plano sem chapéu</option>
        </select>
      </div>
    </div>

    <div class="main">
      <img
        class="background-silo shadow-lg rounded"
        src="../assets/img/background-visao-isometrica-sem-motores.png"
      />
      <img class="silo" [src]="siloType" />
      <span class="heatmap"></span>
      <div class="pendulos">
        <span class="pendulo" *ngFor="let pendulo of pendulos; let i = index">
          <span
            class="sensor"
            *ngFor="let sensor of pendulo.sensores; let i = index"
          >
            {{ pendulo.sensores[i] }}
          </span>
          <span class="xField">0{{ i + 1 }}</span>
        </span>
      </div>
    </div>
  </div>
</div>
